@import '../../styles/variables.scss';

$double-space: 1rem;
$space: 0.5rem;
$main-purple: rgb(75,0,109);
$main-light-purple: rgb(92, 54, 109);

@mixin buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 105%;
}

@mixin buttonLeft {
  background-color: white;
  font-size: 3rem;
  border-radius: 3rem;
  cursor: pointer;
}

@mixin buttonRight {
  background-color: white;
  font-size: 3rem;
  border-radius: 3rem;
  cursor: pointer;

}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin title {
  font-size: $font-size-L;
  margin-bottom: $space;
  font-weight: 600;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    @include title;
  }

  .wrap {
    display: flex;

    .cartList {
      width: 742px;

      .select {
        display: flex;
        align-items: center;
        margin: 1rem 0 1rem 0;
        height: 3rem;

        .selectAll {
          display: flex;
          align-items: center;

          .check {
            font-size: 2rem;
          }

          .text {
          margin-left: 1rem;
          }
        }

        .selectToDelete {
          margin-left: 1rem;
        }

        .selectToDelete {

        }
      }

    }

    aside {
      width: 20rem;
    }
  }
}
