@import '../../styles/variables.scss';
@import '../Main/Main.scss';

$double-space: 1rem;
$space: 0.5rem;
$main-purple: rgb(75,0,109);
$main-light-purple: rgb(92, 54, 109);

@mixin buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 105%;
}

@mixin buttonLeft {
  background-color: white;
  font-size: 3rem;
  border-radius: 3rem;
  cursor: pointer;
}

@mixin buttonRight {
  background-color: white;
  font-size: 3rem;
  border-radius: 3rem;
  cursor: pointer;

}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin title {
  font-size: $font-size-L;
  margin-bottom: $space;
  font-weight: 600;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;

  h1 {
    @include title;
  }

  .container {
    display: flex;

    .cartList {
      width: 742px;

      .noItems {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
        border-top: 1px solid black;
        border-bottom: 1px solid $light-grey-border;

        p {
          font-size: $font-size-M;
        }
      }
    }

    aside {
      width: 20rem;
    }
  }

  .select {
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;
    padding-left: 0.5rem;
    height: 3rem;
    width: 100%;


    .selectAll {
      display: flex;
      align-items: center;

      .check {
        font-size: $font-size-M
      }

      .clickedCheck {
        background-color: $main-purple;
        color: white;
        border-radius: 3rem;
      }

      .text {
      margin-left: 1rem;
      }
    }

    .selectToDelete {
      margin-left: 1rem;
    }
  }
}
