* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.productTitle {
  text-align: center;
  width: 75vw;
  margin: auto;
  display: grid;
  margin-bottom: 15px;

  h2 {
    color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }

  p {
    margin-bottom: 40px;
  }

  ul {
    padding: 20px 0 20px 0;
    border: 1px solid #e2e2e2;
    li {
      color: #333333;
      display: inline-block;
      margin: 0 120px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        color: #5e0080;
      }
    }
  }
}

// width: 85vw;
// margin: 0 auto;
