@import '../Main.scss';


.banner {
  display: flex;
  flex-direction: column;
  align-items: center;

.banner-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  background-color: cadetblue;

  .banner-container {
    width: 1425px;
    height: 370px;
    overflow: hidden;

    .list {
      display: flex;
      transition: all 1s ease-in;

      .item {
      //   img:hover > .buttons {
      //     color: blue;
      // }
        img:hover > .left{
          opacity: 0.5;
        }

      }
    }
  }

    .buttons {
      @include buttons;
      width: 80%;
      transform: translateY(300%);
      // opacity: 0.3;

      .left {
        @include buttonLeft;
        color: white;
        background-color: black;
    }

    .right {
      @include buttonRight;
      color: white;
      background-color: black;
    }
  }
}

}