$main-purple: rgb(75,0,109);
$light-grey : rgb(245,245,245);
$light-grey-border : rgb(220,220,220);
$dark-grey-text : rgb(135,135,135);
$black : rgb(38,38,38);

$font-size-L: 1.8rem;
$font-size-M: 1.3rem;
$font-size-S: 1rem;
