$main-purple: rgb(75, 0, 109);
$main-light-purple: rgb(92, 54, 109);
$light-grey: rgb(245, 245, 245);
$light-grey-border: rgb(220, 220, 220);
$dark-grey-text: rgb(135, 135, 135);
$black: rgb(38, 38, 38);

$font-size-L: 1.8rem;
$font-size-M: 1.3rem;
$font-size-S: 1rem;

@mixin title {
  font-size: $font-size-L;
  font-weight: 600;
}

@mixin cartContainer {
  position: absolute;
  transform: translate(11.3rem, 15.7rem);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: $main-light-purple;
  opacity: 0.7;
  border-radius: 3rem;
  cursor: pointer;
}

@mixin clickedContainer {
  opacity: 1;
  background-color: white;
}

@mixin cart {
  color: white;
  font-size: 1.7rem;
}
@mixin clickedCart {
  color: $main-purple;
}
