.menuContainer {
  position: relative;
  background-color: white;
  cursor: pointer;

  .imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    overflow: hidden;

    img {
      object-fit: cover;
      position: relative;
      width: 100%;
      height: 100%;

      &:hover {
        transform: scale(1.05, 1.05);
        transition-duration: 0.9s;
      }
    }

    .cartBtn {
      button {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 62%;
        left: 84%;

        background: blueviolet;
        border: 1px solid black;
        z-index: 2;
      }
    }
  }

  .menuInfo {
    margin-top: 15px;
    margin-bottom: 120px;
  }
}
