@import '../../styles/variables.scss';
.formContainer {
  width: 310px;
  height: 380px;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -20%);

  .loginTitle {
    text-align: center;
  }
  input {
    margin: 7px;
  }
  h3 {
    margin: 7px;
    padding-bottom: 13px;
  }

  .loginUser {
    width: 100%;
    align-content: center;
    border: 1px solid $light-grey-border;
    font-size: 14px;
    border-radius: 3px;
    padding: 0px 23px;
    line-height: 45px;
    &::placeholder {
      border: 1px $light-grey;
    }
  }
  .classSelectorTwo {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    display: block;
    overflow: hidden;
    margin: 9px;
    font-weight: bold;
    font-size: 15px;
  }
  .btnLogin {
    border: 1px solid $main-purple;
    background-color: $main-purple;
    color: $light-grey;
  }
  .btnSignUp {
    border: 1px solid $main-purple;
    background-color: $light-grey;
  }

  .loginFind {
    float: right;
    padding: 13px 0px 9px 0px;
    text-align: center;
    font-size: 13px;
    .bar {
      float: inherit;
      width: 1px;
      height: 11px;
      margin: 2px 1px 0 -2px;
      background-color: $black;
      position: fixed;
    }
  }
}
