@import '../../../styles/variables.scss';
@import '../Main.scss';

.main-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0 40px 0;

  .title {
    margin-bottom: $space;
    font-weight: 600;
  }

  .subtitle {
    margin-bottom: $double-space;
    font-weight: 400;
    color: $dark-grey-text;
  }

.wrap {
  position: relative;
  display: flex;
  justify-content: center;

  .container {
    position: relative;
    width: 1050px;
    overflow: hidden;

    .list {
      display: flex;
      transition: all 0.5s ease-in;

      .item {
        display: flex;
        flex-direction: column;
        padding: 9px 18px 0 0;

        img {
          width: 249px;
          height: 320px;
          margin-bottom: $double-space;
        }

        p {
          font-size: $font-size-M;
        }

        .name {
          margin-bottom: $space;
        }

        .price {
          font-weight: 700;
        }
      }

        .more {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 5rem;

          .moreButton {
            font-size: 6rem;
            color: $main-purple;
            border: 1px solid $light-grey-border;
            border-radius: 3rem;
          }

          .moreButton:hover {
            background-color: $light-grey-border;
          }

          .moreText {
            margin-top: 1rem;
            font-size: $font-size-M;
          }
        }
    }
  }
}

  .buttons {
    @include buttons;
    transform: translateY(350%);

    .left {
      @include buttonLeft;
    }

    .right {
      @include buttonRight;

    }
  }

  .hide {
    visibility: hidden;
  }

}