@import '../styles/variables.scss';

footer {
  .header {
    position: relative;
    transform: translateY(999%);
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 60px;
    padding: 1rem;
    margin-left: 160px;
    align-items: center;
    min-height: 11vh;

    .footerLefts {
      width: 534px;
      padding-bottom: 30px;

      .footerTitles {
        display: flex;
        padding: 25px 0px 0px;
        line-height: 3px;
        margin-left: 200px;
        margin-bottom: -25px;
        color: $black;
        font-weight: bold;
        font-size: 30px;
      }

      .callNumber {
        padding: 20px 0 -10px;
        line-height: 19px;
        height: 4px;
        margin-top: 90px;
        margin-left: 200px;
        color: $black;
        font-weight: bold;
        font-size: 32px;
      }

      .leftCenter {
        margin-top: -10px;
        margin-left: 380px;
        line-height: 20px;
        color: $black;
        font-size: 14px;
        text-align: left;
      }

      .leftCenters {
        margin-top: -40px;
      }

      .btns {
        display: flow-root;
        width: 140px;
        height: 40px;
        padding-top: 8px;
        margin-top: 30px;
        margin-left: 200px;
        border: 1px solid $light-grey-border;
        border-radius: 4px;
        line-height: 20px;
        font-size: 14px;
        color: $black;
        font-weight: bold;
        text-align: center;
      }

      .rightInfo {
        padding-top: 29px;
        transform: translate(110%, -200%);
        line-height: 15px;
        color: $black;
        font-size: 13px;

        .rightList {
          width: 100%;
          padding-bottom: 29px;
          list-style-type: none;
          font-weight: bold;
          overflow: hidden;

          li {
            display: inline;
            padding-right: 17px;
          }
        }
      }
    }
  }

  .companyIntroduceTextGroup {
    line-height: 1.2;
    font-size: 12px;
    color: $black;
  }
}
