@import '../../../styles/variables.scss';
@import '../Main.scss';

.collection {
  @include center;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 32px 0 40px 0;

  .title {
    @include title;
  }

  .subtitle {
    margin-bottom: $double-space;
    font-size: $font-size-S;
    font-weight: 400;
    color: $dark-grey-text;
  }


}
