@import '../../../styles/variables.scss';
@import '../Cart.scss';

.categoryContainer {
  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    height: 5rem;
    border-top: 1px solid black;

    .title {
      display: flex;
      align-items: center;

      h2 {
        padding-left: 0.5rem;
        font-size: $font-size-M;
      }
    }

    .spread {
      font-size: $font-size-M;
      cursor: pointer;
    }
  }
}
